//base
$color-white: #ffffff;
$color-black: #000000;

//background
$color-main: #E6DFD2;
$color-blue01: #81969E;
$color-blue01: #44606A;
$color-footer: #313427;
$color-text-area:#F0F0F0;
$color-green: #A6AA8D;
$color-shadow: #C1B090;

//text
$color-text-main: #272116;


